.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
}
.itch{
    width: 260px;
    height: 160px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition-duration: 0.5s;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.itch:hover{
    width: 560px;
}
.link-button {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgb(170, 208, 255);
    background-size: 100%;
    border-radius: 50%;
    border: 2px solid rgb(170, 208, 255);
    padding: 30px 30px;
    transition-duration: 0.2s;
    margin-bottom:10px;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.link-button:hover{
    padding: 35px 35px;
    margin-top: 0px;
    margin-bottom: 0x;
    margin-right: 10px;
    margin-left: 10px;
}
.discord-button{
    background-image: url("images/button-discord.png");
    background-color: rgb(88, 106, 234);
}
.itch-button{
    background-image: url("images/button-itch.png");
    background-color: rgb(250, 103, 102);
}
.youtube-button{
    background-image: url("images/button-youtube.png");
    background-color: rgb(250, 0, 0)
}
.twitter-button{
    background-image: url("images/button-twitter.png");
    background-color: rgb(29, 161, 242);
}
.text{
    text-align: center; 
    font-size: 150%; 
    font-family: VCR_OSD_MONO; 
    color: rgb(229,169,47);
}